body {
  font-family: Arial;
  padding: 20px;
}

input {
  display: block;
  margin: 10px 0;
  width: 250px;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

#msg {
  margin-top: 10px;
  color: red;
}