body {
  font-family: Arial;
  padding: 20px;
}

input,
textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 7px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
}